
.Rproj.user/57F4C709/sources/prop/39D0729F
.Rproj.user/57F4C709/sources/prop/INDEX
.Rproj.user/57F4C709/sources/s-8127FA71/B2C0A85D
.Rproj.user/57F4C709/sources/s-8127FA71/B2C0A85D-contents
.Rproj.user/57F4C709/sources/s-8127FA71/lock_file
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
